target/
*.zip
config.json
test_config.json
hashmap.json
pack.png
pack.mcmeta
assets/
parents.json
*.csv
*.temp
spritesheet.json
item_mappings.json
item_texture.json 
spritesheet/
sprites.json
sprite_hashmap.json
nongenerated.json
item_textures.json
atlases.json
icons.json
generated.json
scratch_files/